    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Jwellery <sup>Store</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="home.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Order Management
      </div>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true" aria-controls="collapseSales">
          <i class="fas fa-fw fa-cog"></i>
          <span>Sales Order</span>
        </a>
        <div id="collapseSales" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="sales-quotations.html">Quotation</a>
            <a class="collapse-item" href="sales-order.html">Sales Order</a>
             <a class="collapse-item" href="customer_list.html">Customer</a>
              <a class="collapse-item" href="cards.html">Outgoing Shipment</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePurchase" aria-expanded="true" aria-controls="collapsePurchase">
          <i class="fas fa-fw fa-cog"></i>
          <span>Purchase Order</span>
        </a>
        <div id="collapsePurchase" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="purchase-quotations.html">Quotation</a>
            <a class="collapse-item" href="purchase-order.html">Purchase Order</a>
             <a class="collapse-item" href="vendor_list.html">Supplier/Vendor</a>
              <a class="collapse-item" href="cards.html">Incomming Shipment</a>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Catalog Management
      </div>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="true" aria-controls="collapseProduct">
          <i class="fas fa-fw fa-cog"></i>
          <span>Product</span>
        </a>
        <div id="collapseProduct" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="catalog.html">Catalog</a>
            <a class="collapse-item " href="category.html">Category</a>
            <a class="collapse-item" href="product.html">Product</a>
            <a class="collapse-item" href="product_attribute.html">Product Attribute</a>
             <a class="collapse-item" href="uom.html">Unit Of Measure</a>
          </div>
        </div>
      </li>

 <hr class="sidebar-divider">
     <div class="sidebar-heading">
        Inventory Management
      </div>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompany" aria-expanded="true" aria-controls="collapseCompany">
          <i class="fas fa-fw fa-cog"></i>
          <span>Company</span>
        </a>
        <div id="collapseCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Company</a>
            <a class="collapse-item" href="cards.html">Facility</a>
             <a class="collapse-item" href="cards.html">Location</a>
             <a class="collapse-item" href="cards.html">Tray</a>
          </div>
        </div>
      </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="true" aria-controls="collapseInventory">
          <i class="fas fa-fw fa-cog"></i>
          <span>Inventory</span>
        </a>
        <div id="collapseInventory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Inventory</a>
          </div>
        </div>
      </li>


   <hr class="sidebar-divider">
     <div class="sidebar-heading">
        Human Resource
      </div>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployee" aria-expanded="true" aria-controls="collapseEmployee">
          <i class="fas fa-fw fa-cog"></i>
          <span>Employee</span>
        </a>
        <div id="collapseEmployee" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item active" href="employee_list.html">Employee</a>
            <a class="collapse-item" href="#">Designation</a>
          </div>
        </div>
      </li>


    <hr class="sidebar-divider">
     <div class="sidebar-heading">
        Accounting
      </div>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccounting" aria-expanded="true" aria-controls="collapseAccounting">
          <i class="fas fa-fw fa-cog"></i>
          <span>Accounting</span>
        </a>
        <div id="collapseAccounting" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="invoice_list.html">Invoice</a>
            <a class="collapse-item" href="bill_list.html">Bill</a>
          </div>
        </div>
      </li>


    <hr class="sidebar-divider">
     <div class="sidebar-heading">
        Reports
      </div>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports" aria-expanded="true" aria-controls="collapseReports">
          <i class="fas fa-fw fa-cog"></i>
          <span>Reports</span>
        </a>
        <div id="collapseReports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Analytics</a>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        System
      </div>

            <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
          <i class="fas fa-fw fa-cog"></i>
          <span>Security</span>
        </a>
        <div id="collapseSecurity" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Security Controls:</h6>
            <a class="collapse-item" href="user_login_list.html">User Login</a>
            <a class="collapse-item" href="user_role_list.html">Role</a>
            <!-- <a class="collapse-item" href="#">Security Group</a> -->
            <a class="collapse-item" href="user_permission_list.html">Permission</a>
            <!-- <a class="collapse-item" href="#">Access Right</a> -->
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
          <i class="fas fa-fw fa-cog"></i>
          <span>Settings</span>
        </a>
        <div id="collapseSettings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Setting Controls:</h6>
            <a class="collapse-item" href="buttons.html">Currency</a>
            <a class="collapse-item" href="cards.html">Payment Terms</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
