    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Jwellery <sup>Store</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="true" aria-controls="collapseSales">
          <i class="fa fa-first-order"></i>
          <span>Order Management</span>
        </a>
        <div id="collapseSales" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/ordermgr/listQuotation">Quotation</a>
            <a class="collapse-item" routerLink="/ordermgr/listSalesOrder">Sales Order</a>
            <a class="collapse-item" routerLink="/ordermgr/listCustomer">Customer</a>
            <a class="collapse-item" routerLink="/ordermgr/listPurchaseQuotation">Request for Quotation</a>
            <a class="collapse-item" routerLink="/ordermgr/listPurchaseOrder">Purchase Order</a>
            <a class="collapse-item" routerLink="/ordermgr/listVendor">Supplier/Vendor</a>
          </div>
        </div>
      </li>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="true" aria-controls="collapseProduct">
          <i class="fa fa-product-hunt"></i>
          <span>Product</span>
        </a>
        <div id="collapseProduct" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/products/listCatalog">Catalog</a>
            <a class="collapse-item" routerLink="/products/listCategory">Category</a>
            <a class="collapse-item" routerLink="/products/listProduct">Product</a>
            <a class="collapse-item" routerLink="/products/listAttributes">Product Attribute</a>
            <a class="collapse-item" routerLink="/products/listUOM">Unit Of Measure</a>
          </div>
        </div>
      </li>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCompany" aria-expanded="true" aria-controls="collapseCompany">
          <i class="fas fa-industry"></i>
          <span>Company</span>
        </a>
        <div id="collapseCompany" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/companymgr/listCompany">Company</a>
            <a class="collapse-item" routerLink="/companymgr/listFacility">Facility</a>
            <a class="collapse-item" routerLink="/companymgr/listLocation">Location</a>
            <a class="collapse-item" routerLink="/companymgr/listTray">Tray</a>
          </div>
        </div>
      </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="true" aria-controls="collapseInventory">
          <i class="fas fa-warehouse"></i>
          <span>Inventory</span>
        </a>
        <div id="collapseInventory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Inventory</a>
          </div>
        </div>
      </li>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmployee" aria-expanded="true" aria-controls="collapseEmployee">
          <i class="fa fa-users"></i>
          <span>Employee</span>
        </a>
        <div id="collapseEmployee" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item active" routerLink="/employees">Employee</a>
            <a class="collapse-item" href="#">Designation</a>
          </div>
        </div>
      </li>

     <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccounting" aria-expanded="true" aria-controls="collapseAccounting">
          <i class="fa fa-money"></i>
          <span>Accounting</span>
        </a>
        <div id="collapseAccounting" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="invoice_list.html">Invoice</a>
            <a class="collapse-item" href="bill_list.html">Bill</a>
          </div>
        </div>
      </li>

     <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports" aria-expanded="true" aria-controls="collapseReports">
          <i class="fas fa-fw fa-cog"></i>
          <span>Reports</span>
        </a>
        <div id="collapseReports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Analytics</a>
          </div>
        </div>
      </li> -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseSecurity">
          <i class="fa fa-shield"></i>
          <span>Security</span>
        </a>
        <div id="collapseSecurity" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Security Controls:</h6>
            <a class="collapse-item" href="user_login_list.html">User Login</a>
            <a class="collapse-item" href="user_role_list.html">Role</a>
            <!-- <a class="collapse-item" href="#">Security Group</a> -->
            <a class="collapse-item" href="user_permission_list.html">Permission</a>
            <!-- <a class="collapse-item" href="#">Access Right</a> -->
          </div>
        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
          <i class="fas fa-fw fa-cog"></i>
          <span>Settings</span>
        </a>
        <div id="collapseSettings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Setting Controls:</h6>
            <a class="collapse-item" href="buttons.html">Currency</a>
            <a class="collapse-item" href="cards.html">Payment Terms</a>
          </div>
        </div>
      </li> -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
