<a routerLink="/products/addCatalog" class="btn btn-primary">Add Catalog</a>
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: small;">
    <thead>
      <tr>
        <th>Select</th>
        <th>Catalog ID</th>
        <th>Name</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td><a href="view_catalog.html">CAT_001</a></td>
        <td>GOLD</td>
        <td>2011/04/25</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>CAT_002</td>
        <td>SILVER</td>
        <td>2011/07/25</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>CAT_003</td>
        <td>DIAMOND</td>
        <td>2009/01/12</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>CAT_004</td>
        <td>PLATINIM</td>
        <td>2012/03/29</td>
      </tr>
      <tr>
        <td><input type="checkbox"></td>
        <td>CAT_005</td>
        <td>ARTIFICIAL</td>
        <td>2010/03/17</td>
      </tr>
    </tbody>
  </table>
</div>
